/* CSS by Jesus Sanchez */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  left: 50%;
  top: 0;
  padding: 4px;
  position: absolute;
  color: var(--blue-bulletin);
  background: var(--watchdog-white);
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transform: translate(-50%, -150%);
  transition: var(--transition);
}

.skip-link:focus {
  transform: translate(-50%, 0%);
}
/* ///ADD/// Navigation Styles */
.mobile-nav {
  margin: 1rem auto;
  width: 100%;
  max-width: 500px;
  position: relative;
  text-align: center;
  font-weight: 550;
  font-family: var(--font-body);
}
.menu-button {
  display: block;
  padding: .3rem;
  font-size: 1rem;
  color: var(--watchdog-white);
  background: var(--news-flash);
  border: 2px solid var(--news-flash);
  text-transform: uppercase;
}

.menu-button:hover {
  border: 1.5px solid var(--news-flash);
  background-color: var(--blue-bulletin);
}

.menu {
  display: none;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
}

#nav-toggle:checked ~ .menu {
  display: block;
}

.menu li a {
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--watchdog-white);
  background: var(--news-flash);
  text-decoration: none;
  border-bottom: 2px solid var(--blue-bulletin);
  text-transform: uppercase;
}

.menu a:hover,
footer a:hover {
  border: 1.5px solid var(--news-flash);
  background-color: var(--blue-bulletin);
}

/* ///ADD/// Global Layout Styles */
main {
  padding: 3rem 2rem;
}
main h1,
main h2,
main h3 {
  font-weight: lighter;
  font-family: var(--font-heading);
}

main p {
  font-family: var(--font-body);
}

header {
  padding: 2rem 1rem .2rem;
  position: relative;
  color: var(--watchdog-white);
  background-color: var(--blue-bulletin);
}

header h1 {
  font-size: 2.6rem;
  font-weight: lighter;
  font-family: var(--font-heading);
}

.tagline {
  padding-top: .3rem;
  font-size: .8rem;
  font-family: var(--font-heading);
}

h2 {
  padding-bottom: .5rem;
}
/* ///ADD/// Global Text Styles */
.welcome p {
  padding-bottom: 1rem;
}

.welcome .tagline {
  padding-bottom: 1.9rem;
  text-align: center;
  font-weight: bold;
}
#breaking-news h3 {
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--watchdog-white);
}

#breaking-news p {
  line-height: 1.6rem;
}

#breaking-news video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#breaking-news div {
  padding: 1rem;
  margin: .5rem .4rem 2rem;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  outline: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#breaking-news div:hover {
  transform: scale(1.04);
}
#featured-articles h2 {
  padding: 1rem 0;
}

#articles-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#articles-container div {
  padding: 1em;
  margin: 0 .5em 1.5em;
  display: grid;
  gap: 15px;
  outline: 1px solid var(--blue-bulletin);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#articles-container h3 {
  border-bottom: 1.3px solid var(--blue-bulletin);
}

#featured-articles div:hover {
  transform: scale(1.05);
}
#alerts h2 {
  padding-top: 1rem;
}

#alerts form {
  width: auto;
  margin: 5px auto 0 10px;
  padding: .9rem;
  margin-bottom: -5em;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  outline: 1px solid var(--blue-bulletin);
  box-shadow: var(--shadow);
  font-family: var(--font-body);
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: .6rem;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px inset var(--truth-text);
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 350;
}

fieldset {
  margin: 1rem 0;
  padding: 15px 15px 20px;
  border: 1.5px solid var(--blue-bulletin);
}

legend {
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

fieldset div {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  accent-color: var(--blue-bulletin);
}

#submit-btn {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  color: var(--watchdog-white);
  background-color: var(--blue-bulletin);
  border: 2px solid var(--truth-text);
  font-family: var(--font-body);
  text-transform: uppercase;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#submit-btn:hover {
  color: var(--blue-bulletin);
  background-color: var(--watchdog-white);
}

/* footer section */
footer {
  padding: 60px 20px 0;
  margin-top: 50px;
  text-align: left;
  color: var(--watchdog-white);
  background-color: var(--blue-bulletin);
}

footer h2 {
  padding-bottom: .65rem;
  font-weight: lighter;
  font-family: var(--font-heading);
}

footer ul {
  list-style: none;
  margin: 0 0 45px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
  font-family: var(--font-body);
  text-transform: uppercase;
}

footer ul li a {
  padding: 7px;
  color: var(--watchdog-white);
  text-decoration: none;
  background-color: var(--news-flash);
}

footer p {
  margin-top: 20px;
  padding: 20px 0;
  font-size: .75rem;
  text-align: center;
  font-family: var(--font-body);
}
/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  .menu-button {
    display: none;
  }

  .mobile-nav {
    max-width: none;
    text-align: left;
  }

  #nav-toggle ~ .menu {
    display: flex;
  }

  .menu {
    flex-direction: row;
    justify-content: left;
    gap: 20px;
  }

  .menu li a {
    padding: 0.5rem 1rem;
    font-size: smaller;
    color: var(--watchdog-white);
    background: var(--news-flash);
    text-decoration: none;
    text-transform: uppercase;
    justify-content: flex-start;
  }

  #news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }

  #articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .pair {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  #articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  main {
    padding: 4rem 10rem;
  }
header,
  footer {
  padding-left: 10rem;
  padding-right: 10rem;
  }
}
/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--watchdog-white);
    background: var(--truth-text);
  }
  #articles-container div {
    outline: 1px solid var(--story-subtitle);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--truth-text);
    background: var(--watchdog-white);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  .mobile-nav:has(#nav-toggle:checked) .menu {
    padding: 10px;
    background-color: var(--blue-bulletin);
  }
}
